<app-slider [nombre]="'Pagina'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content">

        <h1 class="subheader">Pagina</h1>

    </section>
  
    <app-sidebar></app-sidebar>
</div>




<div *ngIf="nombre && apellido; then siHayParametros else noHayParametros">

</div>

<!--div *ngIf="!nombre || !apellido">
    <h2>No existen datos para mostrar.</h2>
</div-->
<ng-template #siHayParametros>
    <h2>Hola {{nombre}}</h2>
    <h2>Hola {{apellido}}</h2>
</ng-template>

<ng-template #noHayParametros>
    <h2>No existen datos para mostrar.</h2>
</ng-template>


<button (click)="redireccion()">Ir al formulario</button>
